In [18]:
import pgeocode

In [19]:
from geopy.geocoders import Nominatim
import pandas as pd
from geopy.extra.rate_limiter import RateLimiter

In [20]:
df = pd.read_csv("/home/saaisri/Desktop/tact/Flask/School-nearby/elementary-info.csv")

In [21]:
geolocator = Nominatim(user_agent="my_request")

In [22]:
df.head()

,name,address,website,postal_code,G3,G6,school_level
0,Abbey Lane Public School (Oakville),"55 Elm St, Wallaceburg, Ontario, N8A3M7",http://aawright.lkdsb.net/,N8A3M7,72.5,77.333333,Elementary
1,A B Ellis Public School (Espanola),"1160 Old Abbey Lane, Oakville, Ontario, L6M1S4",http://abb.hdsb.ca/,L6M1S4,72.5,77.333333,Elementary
2,Aberarder Central School (Camlachie),"164 Mead Boulevard, Espanola, Ontario, P5E1S7",http://www.rainbowschools.ca/elementary/ab_ell...,P5E1S7,72.5,77.333333,Elementary
3,Aberdeen Public School (London),"4804 Aberarder Line RR 2, Camlachie, Ontario, ...",http://aberarder.lkdsb.net/,N0N1E0,72.5,77.333333,Elementary
4,Abbey Lane Public School (Oakville),"55 Elm St, Wallaceburg, Ontario, N8A3M7",http://aawright.lkdsb.net/,N8A3M7,72.5,77.333333,Elementary

In [28]:
df1 = df['address']

In [29]:
df1

0                55 Elm St, Wallaceburg, Ontario, N8A3M7
1         1160 Old Abbey Lane, Oakville, Ontario, L6M1S4
2          164 Mead Boulevard, Espanola, Ontario, P5E1S7
3      4804 Aberarder Line RR 2, Camlachie, Ontario, ...
4                55 Elm St, Wallaceburg, Ontario, N8A3M7
                             ...
107    3170 Middle Side Rd, Amherstburg, Ontario, N9V2Y9
108             59 Lampman Lane, Barrie, Ontario, L4N5G4
109                 91 Simcoe St, Angus, Ontario, L0M1B5
110        250 Mark St, Sault Ste Marie, Ontario, P6A3M7
111         60 Tillson Ave, Tillsonburg, Ontario, N4G3A1
Name: address, Length: 112, dtype: object

In [30]:
df1 = df['address'].str.split(',', expand=True)

In [31]:
df1

                            0                 1         2        3     4
0                   55 Elm St       Wallaceburg   Ontario   N8A3M7  None
1         1160 Old Abbey Lane          Oakville   Ontario   L6M1S4  None
2          164 Mead Boulevard          Espanola   Ontario   P5E1S7  None
3    4804 Aberarder Line RR 2         Camlachie   Ontario   N0N1E0  None
4                   55 Elm St       Wallaceburg   Ontario   N8A3M7  None
..                        ...               ...       ...      ...   ...
107       3170 Middle Side Rd       Amherstburg   Ontario   N9V2Y9  None
108           59 Lampman Lane            Barrie   Ontario   L4N5G4  None
109              91 Simcoe St             Angus   Ontario   L0M1B5  None
110               250 Mark St   Sault Ste Marie   Ontario   P6A3M7  None
111            60 Tillson Ave       Tillsonburg   Ontario   N4G3A1  None

[112 rows x 5 columns]

In [9]:
for col in df.columns:
    print(col)

0
1
2
3
4

In [16]:
df = df.drop('4')

KeyError: "['4'] not found in axis"

In [12]:
df.head()

                          0             1         2        3     4
0                 55 Elm St   Wallaceburg   Ontario   N8A3M7  None
1       1160 Old Abbey Lane      Oakville   Ontario   L6M1S4  None
2        164 Mead Boulevard      Espanola   Ontario   P5E1S7  None
3  4804 Aberarder Line RR 2     Camlachie   Ontario   N0N1E0  None
5       1160 Old Abbey Lane      Oakville   Ontario   L6M1S4  None

In [13]:
df.drop(2, axis=1, inplace=True)

In [14]:
str = '55 Elm St, Wallaceburg, Ontario, N8A3M7'

In [15]:
chunks = str.split(',')

print(chunks)

['55 Elm St', ' Wallaceburg', ' Ontario', ' N8A3M7']

In [7]:
# df["postal_code"]

In [8]:
df = df.replace(',','', regex=True)

In [9]:
df["address"]

0                   55 Elm St Wallaceburg Ontario N8A3M7
1            1160 Old Abbey Lane Oakville Ontario L6M1S4
2             164 Mead Boulevard Espanola Ontario P5E1S7
3      4804 Aberarder Line RR 2 Camlachie Ontario N0N1E0
4                   55 Elm St Wallaceburg Ontario N8A3M7
                             ...
107       3170 Middle Side Rd Amherstburg Ontario N9V2Y9
108                59 Lampman Lane Barrie Ontario L4N5G4
109                    91 Simcoe St Angus Ontario L0M1B5
110           250 Mark St Sault Ste Marie Ontario P6A3M7
111            60 Tillson Ave Tillsonburg Ontario N4G3A1
Name: address, Length: 112, dtype: object

In [10]:
locator = Nominatim(user_agent="myGeocoder")

In [11]:
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

In [12]:
# df['location'] = df['address'].apply(geocode)

In [13]:
# df["location"]

0                                                   None
1                                                   None
2                                                   None
3                                                   None
4                                                   None
                             ...
107                                                 None
108                                                 None
109    (Angus Morrison Elementary School, 91, Simcoe ...
110                                                 None
111                                                 None
Name: location, Length: 112, dtype: object

In [14]:
# df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [15]:
# df = pd.concat((df, df.address.apply(getlatlong)), axis=1)

NameError: name 'getlatlong' is not defined

In [ ]:
# df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)

In [19]:
nomi = pgeocode.Nominatim('ca')

In [21]:
postal_code = "N8A 3M7"
location = nomi.query_postal_code(postal_code)
print(location.latitude, location.longitude)

42.593 -82.3885