In [54]:
import pgeocode

In [55]:
from geopy.geocoders import Nominatim
import pandas as pd
from geopy.extra.rate_limiter import RateLimiter

In [56]:
df = pd.read_csv("/home/saaisri/Desktop/tact/Flask/School-nearby/elementary-info.csv")

In [57]:
geolocator = Nominatim(user_agent="my_request")

In [58]:
df.head()

,name,address,website,postal_code,G3,G6,school_level
0,Abbey Lane Public School (Oakville),"55 Elm St, Wallaceburg, Ontario, N8A3M7",http://aawright.lkdsb.net/,N8A3M7,72.5,77.333333,Elementary
1,A B Ellis Public School (Espanola),"1160 Old Abbey Lane, Oakville, Ontario, L6M1S4",http://abb.hdsb.ca/,L6M1S4,72.5,77.333333,Elementary
2,Aberarder Central School (Camlachie),"164 Mead Boulevard, Espanola, Ontario, P5E1S7",http://www.rainbowschools.ca/elementary/ab_ell...,P5E1S7,72.5,77.333333,Elementary
3,Aberdeen Public School (London),"4804 Aberarder Line RR 2, Camlachie, Ontario, ...",http://aberarder.lkdsb.net/,N0N1E0,72.5,77.333333,Elementary
4,Abbey Lane Public School (Oakville),"55 Elm St, Wallaceburg, Ontario, N8A3M7",http://aawright.lkdsb.net/,N8A3M7,72.5,77.333333,Elementary

In [59]:
df1 = pd.DataFrame(df.address.str.split(',',2).tolist(), columns = ['house','street','city'])

In [60]:
df1

                        house            street              city
0                   55 Elm St       Wallaceburg   Ontario, N8A3M7
1         1160 Old Abbey Lane          Oakville   Ontario, L6M1S4
2          164 Mead Boulevard          Espanola   Ontario, P5E1S7
3    4804 Aberarder Line RR 2         Camlachie   Ontario, N0N1E0
4                   55 Elm St       Wallaceburg   Ontario, N8A3M7
..                        ...               ...               ...
107       3170 Middle Side Rd       Amherstburg   Ontario, N9V2Y9
108           59 Lampman Lane            Barrie   Ontario, L4N5G4
109              91 Simcoe St             Angus   Ontario, L0M1B5
110               250 Mark St   Sault Ste Marie   Ontario, P6A3M7
111            60 Tillson Ave       Tillsonburg   Ontario, N4G3A1

[112 rows x 3 columns]

In [119]:
df2['address'] = df1['house'] + ', ' + df1['street']

In [120]:
df1['address'] = df2['address']

In [121]:
locator = Nominatim(user_agent="myGeocoder" , timeout=3)

In [122]:
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

In [123]:
df2['location'] = df2['address'].apply(geocode)

In [124]:
df2['point'] = df2['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [125]:
df2['point']

0                                              None
1             (43.4452237, -79.71171024315106, 0.0)
2            (46.26216935, -81.76787771521754, 0.0)
3                                              None
4                                              None
                          ...
84    (43.532527099999996, -79.70966491738527, 0.0)
85            (43.89563275, -78.9647178590759, 0.0)
86                                             None
87              (45.2322722, -76.197032833884, 0.0)
88           (43.70814495, -79.70434270164037, 0.0)
Name: point, Length: 89, dtype: object

In [126]:
data = df2['point'].tolist()

In [128]:
df3 = pd.DataFrame(data, columns = ['latitude', 'longitude', 'altitude'])

ValueError: Shape of passed values is (89, 1), indices imply (89, 3)

In [129]:
df3.head()

    latitude  longitude  altitude
0  43.445224 -79.711710       0.0
1  46.262169 -81.767878       0.0
2  43.445224 -79.711710       0.0
3  46.262169 -81.767878       0.0
4  42.981474 -81.229795       0.0

In [133]:
df3.count()

latitude     89
longitude    89
altitude     89
dtype: int64

In [130]:
df1.head()

,house,street,city,address
0,55 Elm St,Wallaceburg,"Ontario, N8A3M7","55 Elm St, Wallaceburg"
1,1160 Old Abbey Lane,Oakville,"Ontario, L6M1S4","1160 Old Abbey Lane, Oakville"
2,164 Mead Boulevard,Espanola,"Ontario, P5E1S7","164 Mead Boulevard, Espanola"
3,4804 Aberarder Line RR 2,Camlachie,"Ontario, N0N1E0","4804 Aberarder Line RR 2, Camlachie"
4,55 Elm St,Wallaceburg,"Ontario, N8A3M7","55 Elm St, Wallaceburg"

house      object
street     object
city       object
address    object
dtype: object

    address  altitude city house  latitude  longitude street
0       NaN       NaN  NaN   NaN       NaN        NaN    NaN
1       NaN       NaN  NaN   NaN       NaN        NaN    NaN
2       NaN       NaN  NaN   NaN       NaN        NaN    NaN
3       NaN       NaN  NaN   NaN       NaN        NaN    NaN
4       NaN       NaN  NaN   NaN       NaN        NaN    NaN
..      ...       ...  ...   ...       ...        ...    ...
107     NaN       NaN  NaN   NaN       NaN        NaN    NaN
108     NaN       NaN  NaN   NaN       NaN        NaN    NaN
109     NaN       NaN  NaN   NaN       NaN        NaN    NaN
110     NaN       NaN  NaN   NaN       NaN        NaN    NaN
111     NaN       NaN  NaN   NaN       NaN        NaN    NaN

[112 rows x 7 columns]

In [112]:
df = pd.merge(df, df3)

TypeError: Can only merge Series or DataFrame objects, a <class 'list'> was passed

In [ ]:
# df2[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df2['point'].tolist(), index=df.index)

In [ ]:
# locator = Nominatim(user_agent="myGeocoder")

In [ ]:
# geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

In [ ]:
# lat = []
# lon = []

In [ ]:
# for i in range(len(df2)):
#     loc = lat_lon(df2.iloc[i, 1]) 
#     lat.append(loc.latitude)
#     lon.append(loc.longitude)
# loc_df.assign(latitude = lat)
# loc_df.assign(longitude = lon)

In [ ]:
# df['location'] = df['address'].apply(geocode)

In [ ]:
# df["location"]

In [ ]:
# df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)